@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.hide_basket {
  display: none;
}

.takeaway_container {
  margin: margins.$marginHorisontalMobile;
  margin-top: 0;
}

.takeaway_headline {
  display: flex;
  justify-content: space-between;
  margin-top: margins.$marginUnderElementMobile;
}
.takeaway_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
}

.takeaway_container h2,
h3 {
  font-size: 1.2rem;
}

.takeaway_container h4 {
  font-weight: bold;
}

.item h4 {
  margin-top: 1rem;
}
.item img {
  /* max-height: 149px; */
  box-shadow: effects.$boxShadowImage;
}

.item .hw40_icon {
  box-shadow: none;
}

.sorter_pris {
  display: flex;
  align-items: center;
  color: colors.$darkBlue;
  cursor: pointer;
}

.sorter_pris p {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: unset;
}
.search_container {
  display: flex;
  padding: 5px;
  align-items: center;
  box-shadow: effects.$boxShadowInset;
  margin-bottom: margins.$marginUnderElementMobile;
  height: 45px;
}
.search_container input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin-left: 5px;
}

.search_container input:focus {
  outline: none;
}

.search_container input::placeholder {
  color: grey;
}

.kategorier_container {
  margin-bottom: margins.$marginUnderElementMobile;
}

.kategorier {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, 155px); */
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  grid-gap: 9px;
}

.kategorier img {
  /*  position: absolute; */

  /* height: 120px;
  width: 180px; */

  height: 109px;
  width: 158px;

  box-shadow: effects.$boxShadowPress;
  cursor: pointer;
}

/* @media screen and (min-width: 400px) {
  .kategorier {
    grid-template-columns: repeat(auto-fill, 180px);
  }

  .kategorie,
  .kategorier img {
    height: 120px;
    width: 180px;
  }
}
 */
.kategorier h3 span {
  /*  position: relative; */
  color: colors.$darkBrown;
  background: colors.$lightWood;
  cursor: pointer;
  display: block;
  padding: 8px;
  top: 8px;
  left: -8px;
  max-width: 158px;
}

/* RESULTS */
.result_container {
  display: grid;
  justify-content: space-between;
  margin-bottom: margins.$marginUnderElementMobile;
  width: 100%;
}

.in_basket_number_container {
  display: flex;
  justify-content: end;
}

.in_basket_number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$lightWood;
  background: colors.$darkGreen;
  color: colors.$cream;
  width: 30px !important;
  height: 30px;
  border-radius: 50px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.in_basket_number_head {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$darkGreen;
  color: colors.$off-white;
  width: 18px !important;
  height: 18px;
  border-radius: 50px;
  font-size: 12px;
  transform: translate(15px, 48px);
  z-index: 3;
  box-shadow: effects.$boxShadowPress;
}

.in_basket_number_mobilenav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$darkGreen;
  color: colors.$off-white;
  width: 18px !important;
  height: 18px;
  border-radius: 50px;
  font-size: 12px;
  transform: translate(-8px, 16px);
  z-index: 3;
  box-shadow: effects.$boxShadowPress;
}

.item {
  margin-bottom: margins.$marginUnderElementMobile + margins.$marginUnderElementMobile + margins.$marginUnderElementMobile;
}

.item img {
  width: 100%;
}

.item p {
  width: 75%;
}

.basket_icons {
  display: flex;
  justify-content: end;
  margin-top: -40px;
}

.remove_from_basket .hw40_icon {
  color: colors.$darkBlue;
  margin-right: 20px;
  cursor: pointer;
  display: block;
}

.add_to_basket .hw40_icon {
  color: colors.$lightGreen;
  cursor: pointer;
}

.discount {
  margin-left: 5px;
  margin-right: 5px;
  color: grey;
  text-decoration: line-through;
}

//CHOSEN

.takeaway_container button {
  display: flex;
  align-items: center;
  margin-bottom: margins.$marginUnderElementMobile;
}
.takeaway_container button p {
  margin-left: 5px;
}

@media screen and (max-width: margins.$layout-breakpoint-mobile-end) {
  .item h4 {
    min-width: 115vw;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .takeaway_container {
    margin: margins.$marginHorisontalTablet;
    margin-top: 0;
  }

  .result_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(350px), 250px));
    justify-content: space-between;
    // justify-content: center;
    grid-gap: 18px;
  }
  .search_container {
    width: 500px;
  }

  .kategorier {
    grid-template-columns: repeat(auto-fill, 227px);
  }

  .kategorie,
  .kategorier img {
    height: 157px;
    width: 227px;
  }

  .kategorie {
    /*  height: 109px; */
    width: 158px;
    display: grid;
    justify-content: left;
  }
  .kategorier img {
    position: absolute;
  }
  .kategorier h3 span {
    position: relative;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .in_basket_number_head {
    transform: translate(55px, 88px);
  }

  .takeaway_container {
    margin: margins.$marginHorisontalDesktop;
    margin-top: 0;
  }
  .takeaway_headline {
    margin-top: margins.$marginUnderElementDesktop;
    margin-bottom: margins.$marginUnderElementDesktop;
  }

  .result_container {
    grid-template-columns: repeat(auto-fill, minmax(max(350px), 250px));
    justify-content: space-between;
  }

  .takeaway_container h1 {
    margin-bottom: 0;
  }

  .kategorier {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .kategorie,
  .kategorier img {
    height: 207px;
    width: 300px;
  }

  .item {
    width: 100%;
  }
}
