@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

/* .time_and_info {
  display: grid;
  justify-content: center;
} */

.bekræftelse_container {
  margin: margins.$marginHorisontalMobile;

  /*   display: grid;
  justify-content: center; */
}

.bekræftelse_container label {
  margin-top: 10px;
}

.bekræftelse_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
  font-weight: bold;
}

.bekræftelse_container h2,
h3 {
  font-size: 1.2rem;
}

.bekræftelse_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: margins.$marginUnderElementMobile;
}

.order_h2 h2 {
  font-weight: bold;
  margin-bottom: margins.$marginUnderElementMobile;
}

.text_left {
  text-align: end;
}

.order_info_container {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: margins.$marginUnderElementMobile;
}

.big_basket_icon {
  width: 100px;
  height: 200px;
  color: colors.$darkBlue;
}

.under_basket_icon_txt {
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

.time_line_container {
  background: colors.$lightWood;
  margin-left: -18px;
  margin-right: -18px;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  padding: 18px;
  padding-top: margins.$marginUnderElementMobile;
  padding-bottom: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
  /* max-width: 600px; */
}

.time_line_left {
  justify-self: end;
  text-align: end;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.time_line {
  height: 100%;
  width: 3px;
  background-color: colors.$lightBrown;
  justify-self: center;
}

.time_line_right {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 50px;
}

.time_line_name_label,
.time_line_number_label,
.time_line_time_label,
.time_line_comment_label {
  color: colors.$lightBrown;
}
.time_line_name,
.time_line_number,
.time_line_time,
.time_line_comment {
  color: colors.$darkBrown;
}

.time_line_name_container {
  grid-row: 1;
}
.time_line_number_container {
  grid-row: 3;
}

.time_line_time_container {
  grid-row: 2;
}

.time_line_comment_container {
  grid-row: 4;
}

@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .bekræftelse_container {
    margin: margins.$marginHorisontalTablet;
    margin-top: 0;
  }

  .time_and_info {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .time_line_container {
    margin: 0;
    max-width: 600px;
    margin-left: -50px;
    padding-left: 50px;
  }

  .under_basket_icon_txt {
    margin-bottom: margins.$marginUnderElementDesktop;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .bekræftelse_container {
    margin: margins.$marginHorisontalDesktop;
    margin-top: 0;
  }
  .bekræftelse_top {
    margin-top: margins.$marginUnderElementDesktop;
  }

  .time_line_container {
    max-width: 800px;
    margin-left: -100px;
    padding-left: 100px;
  }
}
