@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.betaling_og_info_container {
  display: grid;
  justify-content: center;
}

.betaling_container {
  margin: margins.$marginHorisontalMobile;
  margin-top: 0;
}

.betaling_container label {
  margin-top: 10px;
}

.betaling_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
  font-weight: bold;
}

.betaling_container h2,
h3 {
  font-size: 1.2rem;
}

.betaling_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: margins.$marginUnderElementMobile;
}

.betaling_form_container {
  background: colors.$lightWood;
  margin: -18px;
  padding: 18px;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

.betaling_form_container p {
  color: colors.$darkBrown;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

.betaling_form_container input,
select {
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: effects.$boxShadowInset;
  margin-bottom: 10px;
}

.betaling_form_third_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.betaling_form_third_row input {
  display: block;
  /*  width: 135px; */
}

.betaling_form_selections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*  grid-gap: 0px; */
}

.betaling_form_selections select,
option {
  color: colors.$darkBrown;
}

.handelsbetingelserne {
  display: flex;
  align-items: baseline;
}
.handelsbetingelserne label {
  text-transform: unset;
}
.handelsbetingelserne input {
  width: unset;
  height: unset;
  margin-right: 10px;
}

@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .betaling_container {
    margin: margins.$marginHorisontalTablet;
    margin-top: 0;
  }
  .betaling_og_info_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* align-items: center; */
  }

  .betaling_form_container {
    margin: 0;
    max-width: 600px;
    margin-left: -50px;
    padding-left: 50px;
  }

  .ordre_inof_container_container {
    justify-self: end;
    width: 100%;
    margin-right: -50px;
    padding-right: 50px;
    background-color: colors.$cream;
    max-width: 600px;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .betaling_container {
    margin: margins.$marginHorisontalDesktop;
    margin-top: 0;
  }

  .betaling_top {
    margin-top: margins.$marginUnderElementDesktop;
    margin-top: margins.$marginUnderElementDesktop;
  }

  .button_and_afhentling_container {
    margin-bottom: margins.$marginUnderElementDesktop;
  }

  .order_info_container {
    margin-top: -50px !important;
    margin-bottom: margins.$marginUnderElementDesktop;
  }

  .betaling_form_container {
    max-width: 800px;
    margin-left: -100px;
    padding-left: 100px;
  }

  .ordre_inof_container_container {
    margin-right: -100px;
    padding-right: 100px;
    max-width: 800px;
    padding-top: margins.$marginHorisontalDesktop;
    padding-bottom: margins.$marginHorisontalDesktop;
    padding-left: margins.$marginHorisontalDesktop;
  }

  #betaling_form {
    margin-top: margins.$marginHorisontalDesktop;
    margin-bottom: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop;
  }
}
