@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.kurv_container {
  margin: margins.$marginHorisontalMobile;
  margin-top: 0;
}

.kurv_headline {
  display: flex;
  justify-content: space-between;
}
.kurv_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
  font-weight: bold;
}

.kurv_container h2,
h3 {
  font-size: 1.2rem;
}

.kurv_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: margins.$marginUnderElementMobile;
}

.ingen_lavering_container {
  display: flex;
  align-items: center;
  color: grey;
}

.ingen_lavering_container .hw20_icon {
  margin-left: 8px;
}

.button_and_afhentling_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_and_afhentling_container button {
  display: flex;
  align-items: center;
  margin-bottom: margins.$marginUnderElementMobile;
}

.button_and_afhentling_container button p {
  margin-left: 5px;
}

.button_and_afhentling_container p {
  color: colors.$darkBlue;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.mid_kurv_container {
  display: flex;
  justify-content: center;
  background-color: colors.$cream;
  margin: -18px;
  padding: 18px;
  margin-top: margins.$marginUnderElementMobile;
}

.inner_kurv_container {
  margin-bottom: margins.$marginUnderElementMobile;
  max-width: 600px;
}

.kurv_item_top {
  display: grid;
  grid-template-columns: 1.4fr 3fr 1fr;
  align-items: center;
}

.kurv_item_top span {
  justify-self: end;
}

.kurv_remove_add {
  display: flex;
  align-items: center;
}

.kurv_remove_add span {
  font-weight: bold;
  margin: 5px;
}

.kurv_item_top p {
  font-weight: bold;
}

.show_hide_indhold_container,
.kurv_item_info {
  display: grid;
  grid-template-columns: 1.4fr 3fr 1fr;
}
.show_hide_indhold,
.kurv_item_info p {
  grid-column: 2;
}

.show_hide_indhold p {
  color: colors.$darkGreen;
  font-weight: bold;
  text-decoration: underline;
}

.button_container_center {
  display: flex;
  justify-content: center;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

.hide_ingrediants {
  display: none;
}

@media screen and (min-width: 610px) {
  .inner_kurv_container {
    margin-left: -180px;
    padding-left: 180px;
  }
}
@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .kurv_container {
    margin: margins.$marginHorisontalTablet;
    margin-top: 0;
  }

  .mid_kurv_container {
    margin-left: -280px;
    padding-left: 280px;
    box-shadow: effects.$boxShadowImage;
    margin-bottom: margins.$marginUnderElementMobile;
  }

  .inner_kurv_container {
    max-width: 700px;
    padding-top: margins.$marginUnderElementMobile;
    padding-bottom: margins.$marginUnderElementMobile;
  }

  .exstra_hidden {
    display: none;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .kurv_container {
    margin: margins.$marginHorisontalDesktop;
    margin-top: 0;
  }

  .kurv_top {
    margin-top: margins.$marginUnderElementDesktop;
  }

  .kurv_container h1 {
    margin-bottom: margins.$marginUnderElementDesktop;
  }

  .mid_kurv_container {
    margin-top: -50px;
  }

  .inner_kurv_container {
    max-width: 800px;
    padding-top: margins.$marginUnderElementDesktop;
    padding-bottom: margins.$marginUnderElementDesktop;
  }
}
