@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.kurv_container {
  margin: 0 margins.$marginHorisontalMobile;
}

.kurv_headline {
  display: flex;
  justify-content: space-between;
}
.kurv_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
  font-weight: bold;
}

.kurv_container h2,
h3 {
  font-size: 1.2rem;
}

.kurv_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: margins.$marginUnderElementMobile;
}

.ingen_lavering_container {
  display: flex;
  align-items: center;
  color: grey;
}

.ingen_lavering_container .hw20_icon {
  margin-left: 8px;
}

.button_and_afhentling_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 margins.$marginHorisontalMobile;
}

.button_and_afhentling_container button {
  display: flex;
  align-items: center;
  margin-bottom: margins.$marginUnderElementMobile;
}

.button_and_afhentling_container button p {
  margin-left: 5px;
}

.button_and_afhentling_container p {
  color: colors.$darkBlue;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.mid_kurv_container {
  display: flex;
  justify-content: center;
  background-color: colors.$cream;

  padding: 18px;
  margin-top: margins.$marginUnderElementMobile;
}

.inner_kurv_container {
  margin-bottom: margins.$marginUnderElementMobile;
  max-width: 600px;
}

.kurv_item_top {
  display: grid;
  grid-template-columns: 1.4fr 3fr 1fr;
  align-items: center;
}

.kurv_item_top span {
  justify-self: end;
}

.kurv_remove_add {
  display: flex;
  align-items: center;
}

.kurv_remove_add span {
  font-weight: bold;
  margin: 5px;
}

.kurv_item_top p {
  font-weight: bold;
}

.show_hide_indhold_container,
.kurv_item_info {
  display: grid;
  grid-template-columns: 1.4fr 3fr 1fr;
}
.show_hide_indhold,
.kurv_item_info p {
  grid-column: 2;
}

.show_hide_indhold p {
  color: colors.$darkGreen;
  font-weight: bold;
  text-decoration: underline;
}

.button_container_center {
  display: flex;
  justify-content: center;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

// @media screen and (min-width: 610px) {
//   .inner_kurv_container {
//     margin-left: -180px;
//     padding-left: 180px;
//   }
// }
@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .kurv_container {
    margin: 0 margins.$marginHorisontalTablet;
  }

  // .kurv_oplysninger {
  //   max-width: calc(100% - margins.$marginHorisontalTablet) !important;
  //   overflow: hidden;
  //   margin-left: auto;
  // }

  .mid_kurv_container {
    padding: 1rem 1rem 1rem 0;
    display: block;
    margin-right: margins.$marginHorisontalTablet;
    // padding-left: 280px;
    box-shadow: effects.$boxShadowImage;
    margin-bottom: margins.$marginUnderElementMobile;
  }

  .inner_kurv_container {
    min-width: fit-content;
    max-width: 700px;
    padding-top: margins.$marginUnderElementMobile;
    padding-bottom: margins.$marginUnderElementMobile;
    margin-left: margins.$marginHorisontalTablet;
  }

  .exstra_hidden {
    display: none;
  }

  .button_and_afhentling_container {
    margin: 0 margins.$marginHorisontalTablet;
  }
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .button_and_afhentling_container {
    margin: 0 margins.$marginHorisontalDesktop;
  }

  .kurv_container {
    margin: 0 margins.$marginHorisontalDesktop;
  }

  .kurv_top {
    margin-top: margins.$marginUnderElementDesktop;
  }

  .kurv_container h1 {
    margin-bottom: margins.$marginUnderElementDesktop;
  }

  .mid_kurv_container {
    margin-top: -50px;
    margin-right: margins.$marginHorisontalDesktop;
  }

  .inner_kurv_container {
    max-width: 800px;
    padding-top: margins.$marginUnderElementDesktop;
    padding-bottom: margins.$marginUnderElementDesktop;
    // margin-left: calc(margins.$marginHorisontalDesktop - 1rem);
    padding: 0 0 0 margins.$marginHorisontalDesktop;
    margin-right: auto;
    margin-left: auto;
  }

  // .oplysninger_form_container {
  //   width: calc(100% - margins.$marginHorisontalDesktop);
  //   margin-left: auto;

  //   .oplysninger_form_container {
  //     width: 100%;
  //   }
  //   .oplysninger_form {
  //     width: 100%;
  //   }
  // }
}
