@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.oplysninger_container {
  margin: margins.$marginHorisontalMobile;
  /* display: flex;
  justify-content: center; */
}

.oplysninger_container label {
  margin-top: 10px;
}

/* .oplysninger_headline {
  display: flex;
  justify-content: space-between;
} */
.oplysninger_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
  font-weight: bold;
}

.oplysninger_container h2,
h3 {
  font-size: 1.2rem;
}

.oplysninger_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.oplysninger_form_container {
  background: colors.$lightWood;
  margin: -18px;
  padding: 18px;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
  /* max-width: 800px; */
  /*   width: 100%; */
}

.oplysninger_form_container p {
  color: colors.$darkBrown;
  margin-top: margins.$marginUnderElementMobile;
  margin-bottom: margins.$marginUnderElementMobile;
}

.oplysninger_form_container input {
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: effects.$boxShadowInset;
  margin-bottom: 10px;
}

@media screen and (min-width: margins.$layout-breakpoint-mobile-end) {
  .from_name_time_number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .oplysninger_form_container {
   
    margin-right: -680px;
    padding-right: 680px;
    
  }
  
  
}

@media screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .oplysninger_container {
    display: flex;
    justify-content: center;
  }
}
