@use "../base/colors";
@use "../base/margins";
@use "../base/effects";
@use "../base/buttons";

.takeaway_container {
  margin: margins.$marginHorisontalMobile;
  margin-top: 0;
}
/* .takeaway_container p {
  margin-bottom: unset;
} */

.takeaway_headline {
  display: flex;
  justify-content: space-between;
}
.takeaway_container h1 {
  font-size: 2rem;
  margin-bottom: margins.$marginUnderElementMobile;
}

.takeaway_container h2,
h3 {
  font-size: 1.2rem;
}

.takeaway_container h4 {
  font-weight: bold;
}

.sorter_pris {
  display: flex;
  align-items: center;
  color: colors.$darkBlue;
  cursor: pointer;
}

.sorter_pris p {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: unset;
}
.search_container {
  display: flex;
  padding: 5px;
  align-items: center;
  box-shadow: effects.$boxShadowInset;
  margin-bottom: margins.$marginUnderElementMobile;
}
.search_container input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin-left: 5px;
}

.search_container input:focus {
  outline: none;
}

.search_container input::placeholder {
  color: grey;
}

.kategorier_container {
  margin-bottom: margins.$marginUnderElementMobile;
}

.kategorier {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 180px);
  justify-items: center;
  justify-content: start;
  grid-gap: 9px;
}

.kategorie {
  background-color: colors.$darkBlue;
  height: 124px;
  width: 180px;

  /*  width: 100%;
  height: 100%;
  object-fit: cover; */

  display: grid;
  justify-content: center;
}

.kategorier img {
  position: absolute;
  height: 124px;
  width: 180px;

  /*  width: 100%;
  height: 100%;
  object-fit: cover; */

  /* height: 120px;
  width: 180px; */
  /* opacity: 0.5; */
  box-shadow: effects.$boxShadowPress;
  cursor: pointer;
}
.kategorier h3 {
  position: relative;
  color: colors.$off-white;
  align-self: center;
}

/* RESULTS */
.result_container {
  display: grid;
  justify-content: center;
  margin-bottom: margins.$marginUnderElementMobile;
}

.in_basket_number_container {
  display: flex;
  justify-content: end;
}

.in_basket_number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$lightBrown;
  color: colors.$darkBrown;
  font-weight: bold;
  width: 30px !important;
  height: 30px;
  border-radius: 50px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.item {
  margin-bottom: margins.$marginUnderElementMobile;
}

.item img {
  width: 100%;
  display: grid;
  justify-content: center;
}

.item p {
  width: 75%;
}

.basket_icons {
  display: flex;
  justify-content: end;
  margin-top: -40px;
}

.remove_from_basket .hw40_icon {
  color: colors.$darkBlue;
  margin-right: 20px;
}
.add_to_basket .hw40_icon {
  color: colors.$lightGreen;
}

.discount {
  margin-left: 5px;
  margin-right: 5px;
  color: grey;
  text-decoration: line-through;
}

//CHOSEN

.takeaway_container button {
  display: flex;
  align-items: center;
  margin-bottom: margins.$marginUnderElementMobile;
}
.takeaway_container button p {
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  .takeaway_container {
    margin: margins.$marginHorisontalTablet;
    margin-top: 0;
  }

  .result_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-items: center;
    justify-content: start;
    grid-gap: 18px;
  }
}

@media screen and (min-width: 900px) {
  .takeaway_container {
    margin: margins.$marginHorisontalDesktop;
    margin-top: 0;
  }
}
