@use "../base/margins";
@use "../base/colors";

#app-container {
  background: colors.$lightWood;
  padding: 2rem margins.$marginHorisontalMobile 2.5rem margins.$marginHorisontalMobile;
  p,
  h4 {
    color: colors.$darkBrown;
  }

  li {
    list-style-type: none;
  }
}

#table-booking-section {
  margin-top: 100px;
}

.book-icon {
  height: 1.5rem;
  width: 1.5rem;
}

#book-icon-flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding-left: 0;
}

#a-style-btn {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin-top: 5rem;
  text-decoration: underline;
  font-weight: 600;
  color: colors.$darkGreen;
}

#a-style-btn:hover {
  color: colors.$lightGreen;
}

.seperating-line-book {
  width: 100%;
  height: 1px;
  background: colors.$darkBrown;
  margin: 1rem 0;
}

.flex-book-adress {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 1.5rem;
}

.react-calendar__navigation {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.react-calendar__tile,
.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  border: none;
  margin: 2px;
}

.react-calendar__tile--active {
  background: colors.$darkGreen;
  color: white;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  margin: 1rem 0 0.2rem 0;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#time-form {
  width: inherit;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;

  input {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
  }

  label {
    width: 60px;
    padding: 0.3rem 0;
    text-align: center;
    background: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  }

  input[type="radio"]:checked + label {
    background: colors.$darkGreen;
    color: white;
  }
  input[data-state="fullybooked"] + label {
    background: rgb(210, 210, 210);
    color: rgb(88, 88, 88);
    box-shadow: none;
    pointer-events: none;
  }
}

.underline {
  text-decoration: underline;
}

.book5flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.bookagainflex {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.booking-summary {
  padding-bottom: 1rem;

  span {
    font-weight: 600;
  }
}

#guest-count {
  margin-right: 1rem;
  padding: 5px 15px;
  width: 100px;
}

// ----------------- mobile styling
@media (max-width: margins.$layout-breakpoint-mobile-end) {
  #book-app {
    margin: margins.$marginHorisontalMobile;
  }
}

// ----------------- tablet styling
@media (min-width: margins.$layout-breakpoint-tablet-start) and (max-width: margins.$layout-breakpoint-tablet-end) {
  #bookbord-img-container {
    width: 100%;
    margin-top: 3.5rem;
    background: url(./img/book-bord-img.webp);
    background-position: center;
    background-size: cover;
    max-height: 25rem;
  }

  #bookbord-line-container {
    position: absolute;
    display: flex;
    margin-left: margins.$marginHorisontalTablet;
    gap: 0.5rem;
    z-index: -1;
  }

  .long {
    height: 35rem;
  }

  .short {
    height: 31rem;
  }

  #table-booking-section {
    width: calc(100% - margins.$marginHorisontalTablet);
    display: grid;
    gap: 20px;
    grid-template-columns: 5.5fr 3fr;
  }
}

// ----------------- desktop styling
@media (min-width: margins.$layout-breakpoint-desktop-start) {
  #bookbord-img-container {
    width: 100%;
    margin-top: 3.5rem;
    background: url(./img/book-bord-img.webp);
    background-position: center;
    background-size: cover;
    max-height: 25rem;
  }

  #bookbord-line-container {
    position: absolute;
    display: flex;
    margin-left: margins.$marginHorisontalDesktop;
    gap: 0.5rem;
    z-index: -1;
  }

  .long {
    height: 35rem;
  }

  .short {
    height: 31rem;
  }

  #table-booking-section {
    width: calc(100% - margins.$marginHorisontalDesktop);
    display: grid;
    gap: 20px;
    grid-template-columns: 9fr 4fr;
  }
}
