@use "../base/colors";
@use "../base/buttons";
@use "../base/margins";

.catering_event_section {
  background-color: colors.$cream;
}

.events_catering {
  display: flex;
  flex-direction: column;
}

.catering_title {
  margin-left: margins.$marginHorisontalMobile + 77px;
  max-width: 45vw;
  align-self: center;
}

.event_container {
  margin-left: margins.$marginHorisontalMobile;
  margin-right: margins.$marginHorisontalMobile;
  display: flex;
  flex-direction: row;
  column-gap: 21px;
}

.event_container > div {
  margin-top: 25px;
}

.event_container > img {
  width: 122px;
  height: 253px;
  position: relative;
  top: -55px;
}

.catering_container {
  margin-left: margins.$marginHorisontalMobile + 27px;
  margin-right: margins.$marginHorisontalMobile + 120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.disappear_para {
  display: none;
}

@media only screen and (min-width: margins.$layout-breakpoint-tablet-start) and (max-width: margins.$layout-breakpoint-tablet-end) {
  .catering_event_section {
    background-color: colors.$cream;
    margin-left: margins.$marginHorisontalTablet;
    margin-right: margins.$marginHorisontalTablet;
  }

  .catering_title {
    margin-left: margins.$marginHorisontalTablet + 260px;
    max-width: 45vw;
    margin-bottom: 30px;
    align-self: auto;
  }

  .event_container {
    margin: 0;
  }

  .event_container > div {
    max-width: 45%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 80px;
    margin-left: 20px;
    height: fit-content;
  }

  .disappear_para {
    display: block;
  }

  .event_container > img {
    width: 235px;
    height: 386px;
    position: relative;
    top: -95px;
  }

  .catering_container {
    // max-width: 45%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: -60px;
    margin-left: margins.$marginHorisontalTablet;
    margin-right: margins.$marginHorisontalTablet + 280px;
    float: right;
  }
}

@media only screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .catering_event_section {
    background-color: colors.$cream;
    margin-left: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop;
  }

  .catering_title {
    margin-left: margins.$marginHorisontalDesktop + 260px;
    max-width: 45vw;
    margin-bottom: 30px;
    align-self: auto;
  }

  .event_container {
    margin: 0;
  }

  .event_container > div {
    max-width: 45%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 80px;
    margin-left: 20px;
    height: fit-content;
  }

  .disappear_para {
    display: block;
  }

  .event_container > img {
    width: 235px;
    height: 386px;
    position: relative;
    top: -95px;
  }

  .catering_container {
    // max-width: 45%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: -120px;
    margin-left: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop + 280px;
    float: right;
  }
}
