@use "../base/colors";
@use "../base/buttons";
@use "../base/margins";
@use "../base/effects";

.visitUs_section {
  margin-left: margins.$marginHorisontalMobile;
  margin-bottom: margins.$marginVerticalSectionsMobile;
}
.visitUs_title {
  margin-left: 55px;
}

.times_container {
  margin-left: 27px;
  background-color: colors.$darkBlue;
}

.times {
  width: 75%;
  display: flex;
  flex-direction: column;
  color: colors.$cream;
  margin-top: 28px;
  margin-left: 28px;
  margin-bottom: 28px;
}

.times > h3 {
  color: colors.$cream;
}

.time_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.line {
  width: 92%;
  height: 0;
  border: 1px solid colors.$cream;
  margin-top: 25px;
  margin-bottom: 15px;
}

.openingTimes_container {
  display: flex;
  flex-direction: column;
}

.openingTimes_button {
  align-self: center;
  width: fit-content;
  margin-top: 40px;
  margin-left: 27px;
}

@media only screen and (min-width: margins.$layout-breakpoint-tablet-start) and (max-width: margins.$layout-breakpoint-tablet-end) {
  .visitUs_title {
    margin-left: 35px;
    margin-top: 20px;
  }
  .side_picture {
    background-image: url("../img/visitus.webp");
    /*  width: 822.67px;
    height: 617px; */
    background-position: center;
    background-size: 65vw 70vw;
    height: 67vw;
    align-self: center;
    box-shadow: effects.$boxShadowImage;
  }

  .visitUs_section {
    /* margin-right: margins.$marginHorisontalDesktop; */
    margin-top: 80px;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: unset;
  }

  .side_row {
    /* display: flex;
    flex-direction: row;
    max-width: 100%; */
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    margin-left: margins.$marginHorisontalTablet;
    margin-right: margins.$marginHorisontalTablet;
    margin-bottom: margins.$marginVerticalSectionsTablet;
  }
  .times {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    color: colors.$cream;
    margin-top: 28px;
    margin-left: 28px;
    margin-bottom: 28px;
  }

  .times_container {
    margin-right: 0;
    margin-left: 0;
  }

  .openingTimes_button {
    align-self: center;
    width: fit-content;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1225px) {
  .side_picture {
    background-image: url("../img/visitus.webp");
    /*  width: 822.67px;
    height: 617px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    box-shadow: effects.$boxShadowImage;
  }

  .visitUs_section {
    /* margin-right: margins.$marginHorisontalDesktop; */
    margin-top: 80px;
    max-width: 100%;
    margin-left: 0;
  }

  .side_row {
    /* display: flex;
    flex-direction: row;
    max-width: 100%; */
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    margin-left: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop;
    margin-bottom: margins.$marginVerticalSectionsDesktop;
  }
  .times {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    color: colors.$cream;
    margin-top: 28px;
    margin-left: 28px;
    margin-bottom: 28px;
  }

  .times_container {
    margin-right: 0;
    margin-left: 0;
  }
}
