@use "../base/colors";
@use "../base/buttons";
@use "../base/margins";
@use "../base/effects";

.catering_form {
  margin-left: margins.$marginHorisontalMobile + 27;
  background: colors.$lightWood;
  background-size: cover;
  margin-bottom: 100px;
  position: relative;
  top: -270px;
  box-shadow: effects.$boxShadowImage;
}

.catering_form > div {
  margin-top: 50px;
  justify-content: center;
  margin-right: margins.$marginHorisontalMobile;
  margin-left: 25px;
}

.cateringForm_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  margin-right: 27px;
  margin-top: 35px;
  margin-bottom: 35px;

  p {
    color: rgba(198, 0, 0, 0.693);
    line-height: 0;
    font-style: italic;
  }
}

.cateringForm_container > input,
.cateringForm_container > select,
.cateringForm_container > textarea {
  margin-top: -8px;
}

.enquirySubmit_button {
  align-self: center;
  width: fit-content;
  margin-top: 40px;
}

.side_column {
  display: flex;
  flex-direction: column;
}

.catering_img {
  background-image: url("../img/visit2.webp");
  width: 122px;
  height: 314px;
  align-self: flex-end;
  position: relative;
  top: -220px;
  z-index: 5;
  box-shadow: effects.$boxShadowImage;
}

.column_formFlex {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

@media only screen and (min-width: margins.$layout-breakpoint-tablet-start) and (max-width: margins.$layout-breakpoint-tablet-end) {
  .side_flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .catering_img {
    background-image: url("../img/catering_img_desktop.webp");
    max-width: 298px;
    min-width: 200px;
    min-height: 702px;
    margin-right: margins.$marginHorisontalTablet;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: auto;
    position: relative;
    top: -250px;
    z-index: 5;
    box-shadow: effects.$boxShadowImage;
  }

  .catering_form {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: margins.$marginHorisontalTablet;
    margin-bottom: 250px;
    position: unset;
    top: 0;
    box-shadow: effects.$boxShadowImage;
    width: 100%;
  }

  .catering_form > div > p {
    max-width: 100%;
  }

  .cateringForm_container {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    // column-gap: 30px;
    // row-gap: 0;
    margin-right: 27px;
    margin-top: 35px;
    margin-bottom: 0;
  }

  .enquiryName {
    grid-area: 1 / 1 / 2 / 2;
  }
  .enquiryEmailAddress {
    grid-area: 1 / 2 / 2 / 3;
  }
  .enquiryFestType {
    grid-area: 1 / 3 / 2 / 4;
  }
  .enquiryComment {
    grid-area: 2 / 1 / 3 / 4;
  }
  .enquirySubmit_button {
    justify-content: center;
    // grid-area: 3 / 2 / 3 / 4;
    margin: 0 auto 2rem auto;
  }

  .enquirySubmit_button {
    align-self: auto;
    width: fit-content;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1225px) {
  .side_flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .catering_img {
    background-image: url("../img/catering_img_desktop.webp");
    min-width: 298px;
    min-height: 702px;
    margin-right: margins.$marginHorisontalDesktop;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: auto;
    position: relative;
    top: -250px;
    z-index: 5;
    box-shadow: effects.$boxShadowImage;
  }

  .catering_form {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: margins.$marginHorisontalDesktop;
    background-color: colors.$lightBrown;
    margin-bottom: 250px;
    position: unset;
    top: 0;
    width: 100%;
    box-shadow: effects.$boxShadowImage;
  }

  .catering_form > div > p {
    max-width: 100%;
  }

  .cateringForm_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 0;
    margin-right: 27px;
    margin-top: 35px;
    margin-bottom: 0;
  }

  .enquiryName {
    grid-area: 1 / 1 / 2 / 2;
  }
  .enquiryEmailAddress {
    grid-area: 1 / 2 / 2 / 3;
  }
  .enquiryFestType {
    grid-area: 1 / 3 / 2 / 4;
  }
  .enquiryComment {
    grid-area: 2 / 1 / 3 / 4;
  }
  .enquirySubmit_button {
    justify-self: center;
    margin: auto 0;
    grid-area: 3 / 2 / 3 / 2;
  }

  .enquirySubmit_button {
    // align-self: auto;
    width: fit-content;
    // margin-top: 20px;
  }
}
