@use "../base/colors";
@use "../base/buttons";
@use "../base/margins";
@use "../base/effects";

.thumbnail_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // gap: 2rem;
}

.thumbnail_images > a {
  text-decoration: none;
  text-decoration-line: none;
}

.restaurant_thumbnail {
  background-image: url("/img/landingimg1.webp");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;

  h4 {
    transform: translateY(6px);
  }
}

.takeaway_thumbnail {
  background-image: url("../img/landingimg2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail_img {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 75vh;
  box-shadow: effects.$boxShadowImage;
}

.thumbnail_images h4 {
  max-width: min-content;
  text-align: center;
  align-self: center;
  color: colors.$off-white;
}

@media only screen and (max-width: "450px") {
  .thumbnail_images h4 {
    font-size: 1.2rem;
  }
  .restaurant_thumbnail {
    h4 {
      transform: translateY(11px);
    }
  }
}

.restaurant_title {
  position: relative;
  top: 78%;
}

.takeaway_title {
  position: relative;
  top: 85%;
}

.newOffers_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: colors.$cream;
  margin-bottom: margins.$marginVerticalSectionsMobile;
}

.row_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: margins.$marginHorisontalMobile;
  margin-right: margins.$marginHorisontalMobile;
}

.offers_title {
  margin-left: margins.$marginHorisontalMobile + 78px;
  margin-top: margins.$marginVerticalSectionsMobile;
  margin-bottom: 30px;
}

.offers_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 5vw;
  margin-right: auto;
  margin-left: auto;
}

.disappearing_offer {
  display: none;
}

.offers_section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.offer {
  max-width: 388px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.newOffers_section {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  margin-bottom: 80px;
}

.side_ornament {
  background-image: url("../img/wood pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 57px;
  height: 1000px;
  position: relative;
  top: -175px;
  justify-self: center;
  margin-left: margins.$marginHorisontalMobile;
}

.first_offer {
  background-image: url("../img/offer1.webp");
  width: 230px;
  height: 215px;
  box-shadow: effects.$boxShadowImage;
}

.second_offer {
  background-image: url("../img/offer2.webp");
  width: 230px;
  height: 215px;
  box-shadow: effects.$boxShadowImage;
}

.offer > p {
  margin-top: 7px;
  max-width: 230px;
}

.newOffers_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 50px;
  margin-right: 50px;
}

@media only screen and (min-width: margins.$layout-breakpoint-tablet-start) and (max-width: margins.$layout-breakpoint-tablet-end) {
  .thumbnail_images {
    display: flex;
    flex-direction: row;
    margin-left: margins.$marginHorisontalTablet;
    margin-right: margins.$marginHorisontalTablet;
    justify-content: space-between;
  }

  .thumbnail_img {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 80vh;
    box-shadow: effects.$boxShadowImage;
  }

  .restaurant_thumbnail {
    background-image: url("../img/landingimg1.webp");
    background-position: center left;
    background-size: cover;

    h4 {
      transform: translateY(8px);
    }
  }

  .takeaway_thumbnail {
    background-image: url("../img/landingimg2.webp");
    background-position: center;
    background-size: cover;
  }

  .offers_title {
    margin-left: margins.$marginHorisontalTablet + 160px;
    margin-top: margins.$marginVerticalSectionsTablet;
    margin-bottom: 30px;
  }

  .third_offer {
    background-image: url("../img/disappear_offer.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .first_offer {
    background-image: url("../img/offer1.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .second_offer {
    background-image: url("../img/offer2.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .offers_container {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    margin-right: 50px;
  }

  .disappearing_offer {
    display: block;
  }

  .offers_section {
    display: flex;
    flex-direction: column;
  }

  .offer {
    max-width: 388px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .newOffers_section {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    margin-left: margins.$marginHorisontalTablet;
    margin-right: margins.$marginHorisontalTablet;
    margin-bottom: margins.$marginVerticalSectionsTablet;
  }

  .newOffers_buttons {
    flex-direction: row;
    column-gap: 30px;
    align-self: center;
  }

  .side_ornament {
    background-image: url("../img/wood pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 604px;
    position: relative;
    top: -110px;
    right: -40px;
    justify-self: center;
  }
}

@media only screen and (min-width: margins.$layout-breakpoint-desktop-start) {
  .thumbnail_images > a > h4 {
    max-width: max-content;
  }

  .restaurant_title {
    top: 90%;
  }

  .takeaway_title {
    top: 90%;
  }

  .offers_title {
    margin-left: margins.$marginHorisontalDesktop + 270px;
    margin-top: margins.$marginVerticalSectionsDesktop;
    margin-bottom: 30px;
  }

  .thumbnail_images {
    display: flex;
    flex-direction: row;
    margin-left: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop;
    justify-content: center;
    gap: 3rem;
  }

  .thumbnail_img {
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-width: 700px;
    height: 90vh;
    box-shadow: effects.$boxShadowImage;
  }

  .restaurant_thumbnail {
    background-image: url("../img/landingimg1.webp");
    background-position: center left;
    background-size: cover;

    h4 {
      transform: translateY(-2rem);
    }
  }

  .takeaway_thumbnail {
    background-image: url("../img/landingimg2.webp");
    background-position: center;
    background-size: cover;
  }

  .offers_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: calc(100% - margins.$marginHorisontalDesktop);
    column-gap: 1.5rem;
    width: 95%;
    // margin-right: 50px;
  }

  .disappearing_offer {
    display: block;
  }

  .offers_section {
    display: flex;
    flex-direction: column;
    width: calc(100% - margins.$marginHorisontalDesktop);
  }

  .offer {
    max-width: 388px;
    // margin-top: 70px;
    margin-bottom: 50px;
  }

  .offer > p {
    max-width: 18vw;
    margin-top: 15px;
  }

  .third_offer {
    background-image: url("../img/disapper_offer_desktop.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .first_offer {
    background-image: url("../img/offer1_desktop.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .second_offer {
    background-image: url("../img/offer2_desktop.webp");
    width: 18vw;
    height: 17vw;
    background-size: cover;
    box-shadow: effects.$boxShadowImage;
  }

  .newOffers_section {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    // margin-bottom: 80px;
    margin-left: margins.$marginHorisontalDesktop;
    margin-right: margins.$marginHorisontalDesktop;
    margin-bottom: margins.$marginVerticalSectionsDesktop;
  }

  .newOffers_buttons {
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
  }

  .side_ornament {
    background-image: url("../img/wood pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 804px;
    position: relative;
    top: -90px;
    justify-self: center;
  }
}
