@use "colors";

button {
  border-radius: 1px;
  transition: ease-in-out 0.2s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.primaryBtn {
  padding: 10px 40px;
  color: white;
  border: 0px;
  background: url("../img/texture-compressed.webp"), url("../img/texture-compressed.webp"), colors.$darkGreen;
}

.primaryBtn:hover {
  background: url("../img/texture-compressed.webp"), url("../img/texture-compressed.webp"), colors.$lightGreen;
}

.secondaryBtn {
  padding: 8px 38px;
  color: colors.$darkBlue;
  border: 2px solid colors.$darkBlue;
  background: none;
}

.secondaryBtn:hover {
  color: white;
  background: colors.$darkBlue;
}
