$off-white: #fafafa;
$black: #000000;

$cream: #f3f0ee;
$lightBrown: #c09e85;
$darkBrown: #462900;

$lightGreen: #7ab118;
$darkGreen: #58781f;

$darkBlue: #30404f;
$lightBlue: #4b6279;

$blueGradient: radial-gradient(linear, $lightBlue, $darkBlue);
