$off-white: #fafafa;
$black: #000000;

$cream: #f3f0ee;
$lightBrown: #c09e85;
$darkBrown: #462900;

$lightGreen: #7ab118;
$darkGreen: #58781f;

$darkBlue: #30404f;
$lightBlue: #4b6279;

$boxShadow: #c1c1c1;

$blueGradient: linear-gradient(
  0deg,
  rgba(48, 64, 79, 1) 0%,
  rgba(75, 98, 121, 1) 100%
);

$lightWood: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url(../img/wood-bg.webp);
