@use "colors";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h4 {
  color: colors.$darkBlue;
  font-weight: 400;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: colors.$darkBlue;
  font-weight: 500;
  font-size: 1.5rem;
}

label {
  color: colors.$darkBrown;
  text-transform: uppercase;
}

::placeholder {
  color: colors.$lightBrown;
}
