@use "colors";
@use "buttons";
@use "margins";

.catering_form {
  margin-left: margins.$marginHorisontalMobile + 27;
  background-color: colors.$lightBrown;
  margin-bottom: 100px;
}

.catering_form > div {
  justify-content: center;
  margin-right: margins.$marginHorisontalMobile;
  margin-left: 25px;
}

.cateringForm_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  margin-right: 27px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.cateringForm_container > input,
.cateringForm_container > select,
.cateringForm_container > textarea {
  margin-top: -8px;
}

.enquirySubmit_button {
  align-self: center;
  width: fit-content;
  margin-top: 40px;
}
